@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}


body{
    background-image: linear-gradient(to right, #967C44, #6B5E42 );

}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #33312b;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #EAA71B;
    text-align: center;
    text-shadow: 1px 1px 1px #33312B;
}
h2{
    color: #413C33 ;
}
p{
text-align: justify;
}